* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: url("https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80")
    center center / cover;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.logo {
  width: 25vw;
  max-width: 250px;
  height: 50px;
  border-radius: 0;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

.icons > img {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  object-fit: cover;
}

.learn-more {
  width: 180px;
  height: 50px;

  border-radius: 50px;
  border: none;
  outline: 0.5px solid grey;
}

a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

button:hover {
  transition: 0.3s ease-in-out;
  background: black;
  color: white;
  border: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 20px 50px;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 88vh;
}

.cta > h1 {
  font-size: 13vw;
}

.cta > button {
  width: 250px;
  height: 70px;
  margin-top: 2rem;

  border: none;
  outline: 2.5px solid midnightblue;
}

.features {
  background: url("https://images.unsplash.com/photo-1564951434112-64d74cc2a2d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHZlY3RvciUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60")
    center center / cover;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  font-size: 1.3rem;
  padding: 2rem 4rem;
  height: 110vh;
}

.features-info {
  background: rgb(241, 241, 241);
  color: black;
  opacity: 0.7;
  height: 30vh;
  width: 100%;
  padding: 40px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info {
  background: rgb(0, 0, 0);
  opacity: 0.7;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  font-size: 30px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.info > p {
  padding: 2rem;
  width: 70vw;
}

.apply {
  height: 40px;
  width: 150px;
}

footer {
  width: 100vw;
  height: fit-content;
  padding-bottom: 3rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  opacity: 0.7;
}

@media screen and (max-width: 375px) {
  header {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
  }
  .logo {
    font-size: 1em;
    height: 50px;
  }
  .learn-more {
    width: 100px;
    height: 50px;
    font-size: 13px;
  }
}
